@media (max-width: 768px) {
  .clearButton {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
  }

  .clearButton:hover {
    background-color: rgb(209, 209, 209);
  }
}

@media (min-width: 769px) {
  .button {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .clearButton {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding-left: 15px;
  }

  .clearButton:hover {
    background-color: rgb(209, 209, 209);
  }
}
