@media (max-width: 768px) {
  .createButton {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
  }

  .createButton:hover {
    background-color: rgb(209, 209, 209);
  }
}

@media (min-width: 769px) {
  .createButton {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
  }

  .createButton:hover {
    background-color: rgb(209, 209, 209);
  }
}
