@media (max-width: 768px) {
  .textarea {
    height: 75%;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
  }
}

@media (min-width: 769px) {
  .textarea {
    height: 80%;
    padding-top: 15px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
  }
}
