@media (min-width: 769px) {
  .main {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    gap: 5px;
  }

  .menuSection {
    margin-top: 10px;
    height: 100%;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #212124;

    flex: 1 0 auto;
  }

  .noteSection {
    margin-top: 10px;
    height: 100%;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #212124;
    flex: 3 0 auto;
  }
}

@media (max-width: 768px) {
  .main {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    gap: 5px;
  }

  .menuSection {
    margin-top: 10px;
    height: 100%;
    width: 40%;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #212124;
  }

  .noteSection {
    margin-top: 10px;
    height: 100%;
    width: 60%;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #212124;
  }
}
