@media (max-width: 768px) {
  .cancelButton {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: red;
  }

  .cancelButton:hover {
    background-color: rgb(179, 1, 1);
  }
}

@media (min-width: 769px) {
  .button {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .cancelButton {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: red;
  }

  .cancelButton:hover {
    background-color: rgb(179, 1, 1);
  }
}
